.centerAlign{
    text-align: center
}
.border{
    border: 1px solid red;
}
.border-gray{
    border-bottom: 1px solid #eeeeee80;
}
.react-countdown-clock {
    float: right;
    right: 64px;
    position: relative;
    top: 11px;
}

.container-list{
    text-align: center;
    margin-top: 20px;
}
.media-displaying{
    object-fit: cover;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100% !important;
    max-height: 206px !important;
}
.MuiDialog-paperWidthSm-106 {
    width: 650px;
}
.bold{
    font-weight: bold;
}
.icon-visualized{
    position: absolute;
    top: 9px;
    left: 10px;   
}
.icon-visualized svg{
    color: white;
    width: 35px !important;
    height: 35px;
}
input{
    box-shadow: none !important;
}
button.answered{
    background: #2dd0c0;
    color: white !important;
}

.finalized big {
    font-size: 41px;
    color: green;
}

.box-ranking{
    padding-top: 15px;
    text-align: left;
}
.box-ranking svg{
    width: 36px;
    height: 36px;
    color: #ee6e73;
}
button:focus{
    background-color: unset !important;
}
.item-ranking{
    margin-top: 4px;
    background: white;
    padding: 13px;
}
.container-all{
    min-height: 600px;
}